#root .recipes {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 30px;

		li a {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 10px 20px;
			background-color: #fff;
			border-radius: 10px;
			box-shadow: -1px 4px 19px 5px rgba(138, 138, 138, 0.3);
			cursor: pointer;
			transform: translateY(0);
			transition: transform 0.3s ease-in-out;
			text-decoration: none;
			color: #000;

			&:hover {
				transform: translateY(-5px);
				transition: transform 0.3s ease-in-out;
			}

			.title {
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 10px;
			}

			.description {
				margin-bottom: 10px;
			}

			.update {
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #000;
				border: 2px solid transparent;
				border-radius: 100%;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: transparent;
					border-color: #000;
					transition: all 0.3s ease-in-out;

					svg {
						g path {
							fill: #000;
							transition: all 0.3s ease-in-out;
						}
					}
				}

				svg {
					width: 60%;
					height: 60%;

					g path {
						fill: #fff;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
}
