#root .container-page-body {
	--headerHeight: 65px; // height + 1px
	width: 95%;
	height: calc(100% - var(--headerHeight));
	padding: 40px 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	#page-body {
		width: 100%;
	}
}
